<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
<<<<<<< HEAD
  <div class="field">
    <%= f.label :is_featured %><br />
    <%= f.check_box :is_featured %>
  </div>
=======
>>>>>>> 8eddb96fcafb6506ee7ac908d65713e62d4c1660
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
