<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
<<<<<<< HEAD
    <th>Is featured</th>
=======
>>>>>>> 8eddb96fcafb6506ee7ac908d65713e62d4c1660
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.position %></td>
<<<<<<< HEAD
    <td><%= employee.is_featured %></td>
=======
>>>>>>> 8eddb96fcafb6506ee7ac908d65713e62d4c1660
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
