<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @employee.name %>
</p>

<p>
  <b>Position:</b>
  <%= @employee.position %>
</p>

<<<<<<< HEAD
<p>
  <b>Is featured:</b>
  <%= @employee.is_featured %>
</p>

=======
>>>>>>> 8eddb96fcafb6506ee7ac908d65713e62d4c1660

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
