<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_article_comment_path(@article, @comment) %> |
<%= link_to 'Back', article_comments_path(@article) %>
