<h1>Listing snippets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.name %></td>
    <td><%= snippet.description %></td>
   
    <td><%= link_to 'Show', page_snippet_path(@page, snippet) %></td>
    <td><%= link_to 'Edit', edit_page_snippet_path(@page, snippet) %></td>
    <td><%= link_to 'Destroy', page_snippet_path(@page, snippet), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @snippets %>

<%= link_to 'New Snippet', new_page_snippet_path(@page) %>
