<script type="text/javascript" src="/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
        // General options
        mode : "textareas",
        theme : "advanced",
        plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",
	editor_selector : "mceEditor",
        editor_deselector : "mceNoEditor",
        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,

        // Example content CSS (should be your site CSS)
        content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        // template_external_list_url : "js/template_list.js",
        // external_link_list_url : "js/link_list.js",
        // external_image_list_url : "js/image_list.js",
        // media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "Some User",
                staffid : "991234"
        }
});
</script>

<%= form_for(@article, :html => {:multipart => true}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div><br/>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div><br/>
<div class="field">
    <%= f.label 'Description 2 (if necessary)' %><br />
    <%= f.text_area :description2 %>
  </div><br/>
<div class="field">
    <%= f.label :is_featured %><br />
    <%= f.check_box :is_featured %>
  </div><br/>

<div class="field">
    <%= f.label :category %><br />
   <select id="article_category" name="article[category]">
      <option value="home">Home</option>
      <option value="what_we_do">What We Do</option>
      <option value="trendbank">Trend Bank</option>
      <option value="publications">Publications</option>
      <option value="clients_and_case_studies">Case Studies</option>
      <option value="talentbank_salons">Talentbank Salons</option>
      <option value="talentbank">Talentbank</option>
      <option value="popcorn_report_live">Popcorn Report Live</option>
      <option value="futurevision">Future Vision</option>
      <option value="trendtrek">TrendTrek</option>
      <option value="culture_pulse_blog">Culture Pulse Blog</option>
      <option value="speeches">Speeches</option>
      <option value="consumer_insights">Consumer Insights</option>
      <option value="brand_positioning">Brand Positioning</option>
      <option value="futurescape">Futurescape</option>
      <option value="inculture">Inculture</option>
      <option value="about_us">About Us</option>
      <option value="employee">Biographies</option>

      <option value="">None</option>
    
    </select>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => 'mceEditor' %>
  </div>
 <div class="field">
    <%= f.label 'Article Photo' %><br />
    <%= f.file_field :article_photo %>
  </div>
 <div class="field">
    <%= f.label 'Link Photo' %><br />
    <%= f.file_field :link_photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
