

<center>
<img src="/images/header/logo_178_41.png" /><br/>

<h1>Listing Content Snippets</h1></center>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
   <th>Category</th>
   <th>Is Featured?</th>
   <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.description %></td>
    <td><%= article.category %></td>
    <td><%= article.is_featured %></td>
    <td><%= link_to 'View', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
