<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>
<p>
  <b>Category:</b>
  <%= @article.category %>
</p>
<p>
  <b>Is Featured:</b>
  <%= @article.is_featured %>
</p>
<p>
  <b>Content:</b>
  <%= @article.content.html_safe %>
</p>
<p>
  <b>Date:</b>
  <%= @article.the_date %>
</p>
<p>
  <b>Article Photo:</b>
  <%= image_tag @article.article_photo.url %>
</p>


<p>
  <b>Link Photo:</b>
<%= image_tag @article.link_photo.url %>
</p>

<%= link_to 'Comments', article_comments_path(@article) %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
