
div#main_admin {
  z-index: 10;
  font-family: Verdana, "Arial",Georgia,Serif;
  font-size: small;
 
  position: absolute;
  left: 10%;
  top: 20%;
  border-style: solid;
  border-width: 1px;
  height: 1800px;
  
  width: 80%%;
  overflow: auto;
  padding: 20px;
}
