
#star25 {
  position: absolute;
  z-index: -100;
  opacity: 1;
  left: 5%;
}

#star50 {
  position: absolute;
  z-index: -99;
  opacity: 0;
 left: 5%;
}

#star100 {
  position: absolute;
  z-index: -101;
  opacity: 0;
  left: 5%;
}

img#home_image_left_2, img#home_image_left_3, img#home_image_left_4
{
  display: none;
}

.header {
  z-index: 5;
  
  position:absolute;
  left: 0px;
  top: 0px;
 /* background-image: url('/images/header/topbar_fullwidth_repeat-x.png');*/
  height: 60px;
  
  width: 100%;
  //overflow: auto;
}
#headerbg {
  z-index: -5;
  
  position:absolute;
  left: 0px;
  top: 0px;
  background-image: url('/images/header/topbar_fullwidth_repeat-x.png');
  height: 60px;
  
  width: 100%;
  //overflow: auto;
}
#logo
{
  position:relative;
 	float:left;
 margin-left:165px;
}

#header_contact
{
  position: relative;
  left: 0%;
  top: -80px;
}

#header_content_wrapper li
{
  position: relative;
  left: 100px;
  bottom: 10px;	
}

hr {
  
  color: #ffffff;
}

#what_we_do_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}
#what_we_do
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 1200px;
  width: 858px;
  height: 343px;
  background-image:url('/images/section-whatwedo/mainarea_grid_whatwedo_858-369.png');
}

#what_we_do_left
{
  position: relative;
 /* margin:20px;*/
 left: 20px;
  top: 20px;
  margin-right: 20px;
  float: left;
  width: 430px;
  height: 343px;
}

#about_us_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}
#about_us
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 1900px;
  width: 858px;
  height: 343px;
  background-image:url('/images/section-whatwedo/mainarea_grid_whatwedo_858-369.png');
}

#about_us_left
{
  position: relative;
 /* margin:20px;*/
 left: 20px;
  top: 20px;
  margin-right: 20px;
  float: left;
  width: 430px;
  height: 343px;
}



#right_article_nav_container
{
  height: 343px;
  width: 200px;
}

a.header_link {
  float: left;
 
  font-family: Verdana, "Arial",Georgia,Serif;
  font-size: 14px;
  font-weight: bold;
  z-index:15;
}
#whatlist {
margin-left:-125px;
margin-top:5px;
	 z-index:15;
}
  a:link {color:#ffffff; text-decoration: none; }      /* unvisited link */
  a:visited {color:#ffffff; text-decoration: none; }  /* visited link */
  a:hover {color:#ffffff; text-decoration: none; }  /* mouse over link */
  a:active {color:#ffffff; text-decoration: none; }  /* selected link */

html, body
{ 
  background-image:url('/images/FPBR_StarryBackground_3.png');
  font-family: Verdana, Arial, Georgia, Serif;
  font-size: 13px;
  color: #ffffff;
  height: 100%;
  z-index: -1000;
}
#footer_head
{
  background-color: #000;
  font-size: 15px;
  color: #4099FF;
  //text-align: center;
  left: 10%;
  position: relative;
  vertical-align: top;
}

#what_we_do_line
{
  position: fixed;
  left: 167px;
  top: 38px;
  z-index: -1;
}

#what_we_do_line_highlighted
{
  position: fixed;
  left: 162px;
  top: 34px;
  z-index: -1;
  display: none;
}


#culture_pulse_blog_line
{
  position: absolute;
  left: 500px;
  top: 25px;
  z-index: -5;
}

#culture_pulse_blog_line_highlighted
{
  position: fixed;
  left: 500px;
  top: 25px;
  z-index: -5;
  display: none;
}

#about_us_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: -11;
}

#about_us_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: -12;
  display: none;
}

#trend_bank_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: -11;
}

#trend_bank_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: -12;
  display: none;
}

#footer_footer
{
  position:relative;
  clear: both;
  left: 10%;
  top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;

  border-top-style:solid;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
}

#footer, #wrapper
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-image:url('/images/footer/footer_gradient_pattern_1200-188.png');
  opacity: .9;
  vertical-align: top;
}

#main_left
{
 float: left;
 width: 220px;
 margin-left: 17px;
}


#main
{
   width:960px; 
   background-image:url('/images/area_fill_1-4.png'); overflow:auto; height:1000%;

  margin: auto;
 
  position: relative;
  top: 150px;
  vertical-align: middle;
}


.article_link
{
  padding: 5px 1px 1px 20px;
  width: 180px;
  height: 82px;
  font-size: 13px;
}

#container_table
{
  font-family: verdana;
  font-size: 13px;
  color: #fff;
  border-width: 0px;
  height: 343px;
  
  
}

hr 
{
  width: 200px;
}

#main_right
{
  width: 600px;
  
  float: left;
}

div#comment_form
{
  float: left;
  left: 30%;
  position: relative;
  
}

textarea#comment_content
{
  width: 400px;
  height: 160px;
  
  
}

#left_footer_content
{
  position: relative;
  left: 10%;
  float: left;
  
}

#right_footer_content
{
  position: relative;
  float: left;
  left: 25%;
  
 
}


/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */
/*------------------------------------*\
	NAV
\*------------------------------------*/
.nav{
	list-style:none;
	font-weight:bold;
	font-family: arial;
	
	/* Clear floats */
	float:left;
	width:515px;
	height:40px;
	position: relative;
	margin:25px 0 0 -90px;
	/* Bring the nav above everything else--uncomment if needed. */
	
	z-index:10000;
	opacity: .7;
}
.nav li{
	float:left;
	margin-right:10px;
	position:relative;
	z-index:10000;
}
.nav .header_link {
  width: 200px;
  z-index: 1000;
}

.nav a{
	display:block;
	padding:5px;
	color:#fff;
	//background:#CDCDCD;
	text-decoration:none;
	z-index:10000;
}
.nav a:hover{
	color:#fff;
	//background:#CDCDCD;
	text-decoration:none;
	z-index:1000;
	opacity: .6;
}


.nav ul{
	
	z-index:1000;
}

.bottom_white_border
{
	
}

/*--- DROPDOWN ---*/
.nav ul{
	//background:#CDCDCD; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	//background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
        z-index: 100;
}
.nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	z-index: 100;
}
.nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	z-index: 100;
}
.nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	z-index: 100;
}
.nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	z-index: 100;
	background:grey;
	
	//text-decoration:underline;
}
.nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
	z-index: 100;
}
.nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	//background:#CDCDCD;
	z-index: 100;
}

