
td#icon1 { background-color: #ffffff; }
td#icon2 { background-color: #ffffff; }
td#icon3 { background-color: #ffffff; }
td#icon4 { background-color: #ffffff; }
td#icon5 { background-color: #ffffff; }
td#icon6 { background-color: #ffffff; }
td#icon7 { background-color: #ffffff; }
td#icon8 { background-color: #ffffff; }
td#icon9 { background-color: #ffffff; }
td#icon10 { background-color: #ffffff; }
td#icon11 { background-color: #ffffff; }
td#icon12 { background-color: #ffffff; }



#star25 {
  position: absolute;
  z-index: -100;
  opacity: 1;
  left: 5%;
  display: none;
}

#star50 {
  position: absolute;
  z-index: -99;
  opacity: 0;
 left: 5%;
 display: none;
}

#star100 {
  position: absolute;
  z-index: -101;
  opacity: 0;
  left: 5%;
  display: none;
}

img#home_image_left_2, img#home_image_left_3, img#home_image_left_4
{
  display: none;
}

.header {
  z-index: 5;
  
  position:fixed;
  left: 0px;
  top: 0px;
 /* background-image: url('/images/header/topbar_fullwidth_repeat-x.png');*/
  height: 60px;
  
  width: 100%;
  //overflow: auto;
}
#headerbg {
  z-index: -5;
  
  position:fixed;
  left: 0px;
  top: 0px;
  background-image: url('/images/header/topbar_fullwidth_repeat-x.png');
  height: 60px;
  
  width: 100%;
  //overflow: auto;
}
#logo
{
  position:relative;
 	float:left;
 margin-left:165px;
}

#header_contact
{
  position: relative;
  left: 0%;
  top: -80px;
}

#header_content_wrapper li
{
  position: relative;
  left: 100px;
  bottom: 10px;	
}

hr {
  
  color: #ffffff;
}

#what_we_do_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}
#what_we_do
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 1200px;
  width: 858px;
  height: 343px;
  background-image:url('/images/section-whatwedo/mainarea_grid_whatwedo_858-369.png');
  overflow: hidden;
}

#what_we_do_left
{
  position: relative;
 /* margin:20px;*/
 left: 20px;
  top: 20px;
  margin-right: 20px;
  float: left;
  width: 430px;
  height: 343px;
}

#about_us_anchor
{
  position:relative;
  clear: both;
 margin-top:50px;
  
}
#about_us
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 1900px;
  width: 858px;
  height: 343px;
  background-image:url('/images/section-whatwedo/mainarea_grid_whatwedo_858-369.png');
  overflow: hidden;
}

#meet_the_team_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}

table#trendbank_periodic_table_left td, table#trendbank_periodic_table_right td
{
  opacity: .75;
  
}

table#trendbank_periodic_table_left td:hover, table#trendbank_periodic_table_right td:hover

{
  opacity: 1;
  
}


img
{
  border: 0px;
  
}

#meet_the_team
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 3000px;
  width: 858px;
  height: 383px;
  background-image:url('/images/area_fill_1-4.png');
}


#trendbank_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}

#trendbank
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 3700px;
  width: 858px;
  height: 500px;
  background-image:url('/images/area_fill_1-4.png');
}

#talentbank_anchor
{
  position:relative;
  clear: both;
 margin-top:-100px;
  
}

img#bio_picture1, img#bio_picture2, img#bio_picture3, img#bio_picture4, img#bio_picture5, img#bio_picture6, img#bio_picture7
{
  position: relative;
  left: 7px;
  
}

table td#talentbank_left
{
  width: 150px;
}

#talentbank
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 5700px;
  width: 858px;
  height: 450px;
  background-image:url('/images/area_fill_1-4.png');
  margin-bottom: 1000px;
}

#bottomfiller
{
  position: relative;
  top: 5000px;
  
}

a#talentbank_apply
{
  color: #DEB204; 
  
}

div#talentbank_description
{
  margin-top: 11px;
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 20px;
  position: relative;
}

div#member1 { background-color: #3F0073; color: #000; font-weight: bold; font-size: 12px; }
div#member2 { background-color: #DE0064; color: #000; font-weight: bold; font-size: 12px; }
div#member3 { background-color: #00C4DE; color: #000; font-weight: bold; font-size: 12px;  }
div#member4 { background-color: #E01B1B; color: #000; font-weight: bold; font-size: 12px; }
div#member5 { background-color: #ED7E00; color: #000; font-weight: bold; font-size: 12px; }
div#member6 { background-color: #00ED20; color: #000; font-weight: bold; font-size: 12px; }
div#member7 { background-color: #00EDD1; color: #000; font-weight: bold; font-size: 12px; }

div#tb_left
{
  position: relative;
  left: 11px;
  top: 11px;
  right: 11px;
  bottom: 11px;
  
}

div.talentbank_member
{
  width:140px;
  height: 26px;
  color: #000;
  font-weight: 160%;
  font-size: 12px;
  margin-bottom: 5px;
  opacity: .4;
}

div.talentbank_member:hover
{
  opacity: 1;
}

span.talentbank_member_name
{
  left: 4px;
  position: relative;
}

table#trendbank_periodic_table_left td, table#trendbank_periodic_table_right td
{
  height: 83px;
  width: 83px;
  margin-left: 8px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-top: 12px;
}

table#trendbank_periodic_table_left 
{
  float: left;
  margin-left: 2px;
}

.biopic
{
    float:left;
    margin-right: 0px;
}

div#talentbank_right_right_text
{
  width: 220px;
  padding: 4px;
}

table#trendbank_periodic_table_right 
{
  
}


div#talentbank_right_right
{
  width:240px;
  overflow: hidden;
  position: relative;
  left: 15px;
  height: 338px;
  background-color: #521E85;
  color: #000;
  height: 327px;
  position: relative;
  left: -4px;
  
}
div#trendbank_text
{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

div.trendbank_icon_title, div#trendbank_name
{
  font-size: 37px;
  font-weight: bold;
  color: #000;
  margin-left: 5px;
}

div#trendbank_name {
 font-size: 37px;
  font-weight: bold;
  color: #000;
  margin-left: 0px;
}

table td#mtt_empty_1, table td#mtt_empty_2, table td#mtt_empty_3, table td#mtt_empty_4, table td#mtt_empty_5, table td#mtt_empty_6, table td#mtt_empty_7, table td#mtt_empty_8, table td#mtt_empty_9
{

  opacity: .6;
}


table td#mtt_empty_1
{
    background-color: teal;
}


table td#mtt_empty_2
{
    background-color: #60AD02;
}


table td#mtt_empty_3
{
    background-color: #CFA604;
}

table td#mtt_empty_4
{
    background-color: #732402;
}

table td#mtt_empty_5
{
    background-color: #BA5123;
}

table td#mtt_empty_6
{
    background-color: #6203A1;
}

table td#mtt_empty_7
{
    background-color: #4203A1
}

table td#mtt_empty_8
{
    background-color: #A18903;
}



div.trendbank_icon_subtitle
{
  font-size: 10px;
    margin-left: 5px;

  color: #000;
}

div#trendbank_middle
{
  float:left;
  margin-top: 10px;
}

img#trendbank_main_image
{
  margin-bottom: 7px;
}

td#trendbank_icon_1
{
  background-image: url('/images/section-trendbank/icon1.jpg');
}

td#trendbank_icon_2
{
  background-image: url('/images/section-trendbank/icon2.jpg');
  
}

td#trendbank_icon_3
{
  background-image: url('/images/section-trendbank/icon3.jpg');
  
}


td#trendbank_icon_4
{
  background-image: url('/images/section-trendbank/icon4.jpg');
  
}



td#trendbank_icon_5
{
  background-image: url('/images/section-trendbank/icon5.jpg');
  
}


td#trendbank_icon_6
{
  background-image: url('/images/section-trendbank/icon6.jpg');
  
}


td#trendbank_icon_7
{
  background-image: url('/images/section-trendbank/icon7.jpg');
}


td#trendbank_icon_8
{
  background-image: url('/images/section-trendbank/icon8.jpg');
}


td#trendbank_icon_9
{
  background-image: url('/images/section-trendbank/icon9.jpg');
}


td#trendbank_icon_10
{
  background-image: url('/images/section-trendbank/icon10.jpg');
}


td#trendbank_icon_11
{
  background-image: url('/images/section-trendbank/icon11.jpg');
}


td#trendbank_icon_12
{
  background-image: url('/images/section-trendbank/icon12.jpg');
}


td#trendbank_icon_13
{
  background-image: url('/images/section-trendbank/icon13.jpg');
}


td#trendbank_icon_14
{
  background-image: url('/images/section-trendbank/icon14.jpg');
}


td#trendbank_icon_15
{
  background-image: url('/images/section-trendbank/icon15.jpg');
}


td#trendbank_icon_16
{
  background-image: url('/images/section-trendbank/icon16.jpg');
}

td#trendbank_icon_17
{
  background-image: url('/images/section-trendbank/icon17.jpg');
}


div#trendbank_description
{
  position: relative;
  left: 10px;
}

div#clientsandcasestudies
{
  position:relative;
  overflow: none;
  clear: both;
  left: 10%;
  top: 4700px;
  width: 858px;
  height: 383px;
  background-image:url('/images/area_fill_1-4.png');
}

table#clientsandcasestudies td, div#meet_the_team table td

{
  width: 108px;
  height: 108px;
  
}

div#clientsandcasestudies img, div#meet_the_team img:hover
{
  width: 108px;
  height: 108px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: .5;
}


div.jobtitle_text
{
  margin: auto;
  font-size:19px;
  text-align: center;
  display: none;
}

div#meet_the_team table td {

  opacity: 1;
  background-size: 110px 110px;
}

div#meet_the_team table td#mtt_empty_1, div#meet_the_team table td#mtt_empty_2, div#meet_the_team table td#mtt_empty_3, div#meet_the_team table td#mtt_empty_4, div#meet_the_team table td#mtt_empty_5, div#meet_the_team table td#mtt_empty_6, div#meet_the_team table td#mtt_empty_7, div#meet_the_team table td#mtt_empty_8, div#meet_the_team table td#mtt_empty_9
  {

  opacity: .4;
}

div#meet_the_team table td:hover {

  opacity: .6;
}

div#clientsandcasestudies img:hover, div#meet_the_team img
{
 
  opacity: 1;
}

div#clientsandcasestudies_header, div#meet_the_team_header
{
  font-size: 23px;
  
}

#about_us_left
{
  position: relative;
 /* margin:20px;*/
 left: 20px;
  top: 20px;
  margin-right: 20px;
  float: left;
  width: 430px;
  height: 343px;
}

span#talentbank_header
{

  font-size: 20px;
}

#right_article_nav_container
{
  height: 343px;
  width: 200px;
}

a.header_link {
  float: left;
 
  font-family: Verdana, "Arial",Georgia,Serif;
  font-size: 14px;
  font-weight: bold;
  z-index:15;
}
#whatlist {
margin-left:-125px;
margin-top:5px;
	 z-index:15;
}
  a:link {color:#ffffff; text-decoration: none; }      /* unvisited link */
  a:visited {color:#ffffff; text-decoration: none; }  /* visited link */
  a:hover {color:#ffffff; text-decoration: none; }  /* mouse over link */
  a:active {color:#ffffff; text-decoration: none; }  /* selected link */

body
{ 
  background-image:url('/images/FPBR_StarryBackground_3.png');
  font-family: Verdana, Arial, Georgia, Serif;
  font-size: 13px;
  color: #ffffff;
}

#footer_head
{
  background-color: #000;
  font-size: 15px;
  color: #4099FF;
  //text-align: center;
  left: 10%;
  position: relative;
  vertical-align: top;
}
/*
#what_we_do_line
{
  position: fixed;
  left: 167px;
  top: 38px;
  z-index: 11;
}

#what_we_do_line_highlighted
{
  position: fixed;
  left: 162px;
  top: 34px;
  z-index: 12;
  display: none;
}


#culture_pulse_blog_line
{
  position: absolute;
  left: 500px;
  top: 25px;
  z-index: 5;
}

#culture_pulse_blog_line_highlighted
{
  position: fixed;
  left: 500px;
  top: 25px;
  z-index: 5;
  display: none;
}

#about_us_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: 11;
}

#about_us_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: 12;
  display: none;
}

#trend_bank_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: 11;
}

#trend_bank_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: 12;
  display: none;
}
*/

/* test with lowered lighted bars */
#what_we_do_line
{
  position: fixed;
  left: 167px;
  top: 38px;
  z-index: -1;
}

#what_we_do_line_highlighted
{
  position: fixed;
  left: 162px;
  top: 34px;
  z-index: -1;
  display: none;
}


#culture_pulse_blog_line
{
  position: absolute;
  left: 500px;
  top: 25px;
  z-index: -5;
}

#culture_pulse_blog_line_highlighted
{
  position: fixed;
  left: 500px;
  top: 25px;
  z-index: -5;
  display: none;
}

#about_us_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: -11;
}

#about_us_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: -12;
  display: none;
}

#trend_bank_line
{
  position: fixed;
  left: 192px;
  top: 38px;
  z-index: -11;
}

#trend_bank_line_highlighted
{
  position: fixed;
  left: 190px;
  top: 36px;
  z-index: -12;
  display: none;
}



#footer_footer
{
  position:relative;
  clear: both;
  left: 10%;
  top: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;

  border-top-style:solid;
  border-right-style:none;
  border-bottom-style:none;
  border-left-style:none;
}

#footer, #wrapper
{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-image:url('/images/footer/footer_gradient_pattern_1200-188.png');
  opacity: .9;
  vertical-align: top;
}

#main_left
{
 float: left;
 
}


#main
{


  margin: 0 auto;
  width: 80%;
  position: relative;
  top: 200px;
  vertical-align: middle;
  z-index: 2;
}


.article_link
{
  padding: 5px 1px 1px 20px;
  width: 180px;
  height: 78px;
  font-size: 12px;
  overflow: hidden;
  
}

#container_table
{
  font-family: verdana;
  font-size: 13px;
  color: #fff;
  border-width: 0px;
  height: 343px;
  
  
}

hr 
{
  width: 200px;
}

#main_right
{
  width: 230px;
  height: 343px;
  float: left;
  background-image: url('/images/area_fill_1-4.png');
}

#left_footer_content
{
  position: relative;
  left: 10%;
  float: left;
  
}

#right_footer_content
{
  position: relative;
  float: left;
  left: 25%;
  
 
}


/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */
/*------------------------------------*\
	NAV
\*------------------------------------*/
.nav{
	list-style:none;
	font-weight:bold;
	font-family: arial;
	
	/* Clear floats */
	float:left;
	width:515px;
	height:40px;
	position: relative;
	margin:25px 0 0 -90px;
	/* Bring the nav above everything else--uncomment if needed. */
	
	z-index:10000;
	opacity: .7;
}
.nav li{
	float:left;
	margin-right:10px;
	position:relative;
	z-index:10000;
}
.nav .header_link {
  width: 200px;
  
}

.nav a{
	display:block;
	padding:5px;
	color:#fff;
	//background:#CDCDCD;
	text-decoration:none;
	z-index:10000;
}
.nav a:hover{
	color:#fff;
	//background:#CDCDCD;
	text-decoration:none;
	z-index:1000;
	opacity: .6;
}


.nav ul{
	
	z-index:1000;
}

.bottom_white_border
{
	
}

#what_we_do_right
{
  top:20px;
  position: relative;
  
}

table#what_we_do_table
{
  width: 350px;
  height: 270px;
  right: 15px;
  position: relative;
}

table#what_we_do_table td
{
  width: 100px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  border: 0px;
  opacity: .9;
}

table#what_we_do_table td:hover
{
  width: 100px;
  height: 80px;
  vertical-align: middle;
  text-align: center;
  border: 0px;
  opacity: 1;
}

/*--- DROPDOWN ---*/
.nav ul{
	//background:#CDCDCD; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	//background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
        
}
.nav ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	
}
.nav ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
}
.nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:grey;
	
	//text-decoration:underline;
}
.nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
.nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	//background:#CDCDCD;
}

