@charset "UTF-8";
/* CSS Document */

* {margin:0;padding:0;}

html, body {margin:0;padding:0;}


.clear { clear: both; }

body { 
	background-image:url(../images/background_culturepulse_1200-1600.jpg);
    color: #000;
}

#cp_article_image
{
  margin: auto;
  position: relative;
  left: 160px;
  width: 558px;
  height: 374px;
}

img#cp_article_image
{
  border: 0px;
  width: 558px;
  height: 374px;
}

div#searchresults
{
  font-family: verdana, helvetica, arial;
  font-size: small;
  color: white;
  
}

div#searchresults a
{
  
  color: white;
    font-family: verdana;

}

#cp_linewrapper {
	height:1600px;
	width:1200px;
	background:url(../images/circles_lines_1200-1600.png);
	position:absolute;
	top:0; left:0;
} 
#cp_areafill{
	
	height:1425px;
	width:900px;
	position:absolute;
	top:178px;
	left:0;
	background-image:url(../images/area_fill_1-4.png);
	background-repeat:repeat;
}
#cp_areafill_article{
	
	height:100%;
	width:900px;
	position:absolute;
	top:178px;
	left:0;
	background-image:url(../images/area_fill_1-4.png);
	background-repeat:repeat;
}

#cp_logo {
	width:1217px;
	height:177px;
	top:0;
	left:0;
	position:absolute;
	
}
#cp_maincontentarea{

	float:left;
	margin:50px;
	width:800px;
	height:1200px;
	
	
	
}
#cp_mainarticle {
	width:800px;
	height:374px;
	margin:0 0 50px 0;
	
	
}
#cp_mainarticleimage{
	float:left;
	height:374px;
	width:558px;
	
}
#cp_mainarticlecopy{
	position:relative;
	top:0;
	right:0;
	margin:15px 15px 15px 15px;
	width:210px;
	height:320px;
	float:right;
}
#cp_mainarticledate {
	
	float:right;
	margin:-3px -3px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	color:#FFF;
	text-transform:uppercase;
	
}
#cp_mainarticletitle {
	position:relative;
	float:left;
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:1.2em;
	color:#FFF;
	text-decoration: none;
}
.cp_seemore {
	position:relative;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
	width:80px;
	height:12px;
	background-image:url(../images/see_more_arrow_80-12.png);
	background-position:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}
.cp_excerpt{
	display:block;
	position:relative;
	float:left;
	padding-top:5px;
	width:100%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
}

.cp_seemore a:link { color: #fff; text-decoration:none; }
.cp_seemore a:visited { color: #fff; text-decoration:none; }
.cp_seemore a:hover { color: #fff; text-decoration:underline; }
.cp_seemore a:active { color: #fff; text-decoration:none; }

.cp_subarea{
	float:left;
	position:relative;
	width:850px;
	margin-top:0;	
}
.cp_subarticlearea{
	float:left;
	position:relative;
	width:243px;
	height:345px;
	margin:0 35px 50px 0;
	
}
.cp_subarticleimage{
	position:relative;
	margin:0 auto 10px;
	height:221px;
	width:223px;
	padding:10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#cp_subarticletitle {
	position:relative;
	float:left;
	margin-top:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:600;
	font-size:26px;
	color:#FFF;
	text-transform:uppercase; font-stretch:narrower;
}
.cp_subexcerpt{
	display:block;
	position:relative;
	float:left;
	padding:10px 10px 0 10px;
	width:223px;
	height:75px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
}

.cp_subarticleimage a {
  color: #fff;
  text-decoration: none;
  
}
/* special cases for the excepts with images */
#cp_subdate2 {
	position:relative;
	float:left;
	margin:250px 0 5px 0;;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
	text-transform:uppercase;
	
}
#cp_subtitle2 {
	position:relative;
	float:left;
	margin-top:5px;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:300;
	font-size:20px;
	color:#FFF;
}
.cp_subseemore2 {
	position:relative;
	float:left;
	margin-bottom:10px;
	margin-top:10px;
	width:80px;
	height:12px;
	background-image:url(../images/see_more_arrow_80-12.png);
	background-position:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
}
.cp_subseemore2 a:link { color: #fff; text-decoration:none; }
.cp_subseemore2 a:visited { color: #fff; text-decoration:none; }
.cp_subseemore2 a:hover { color: #fff; text-decoration:underline; }
.cp_subseemore2 a:active { color: #fff; text-decoration:none; }





/*  sidebar  */
#cp_sidebar{
	float:right;
	position:relative;
	width:250px;
	margin-top:179px;
	margin-right:25px;
}
.cp_sidesection{
	float:left;
	position:relative;
	width:250px;
	margin-bottom:20px;
}
.cp_sidebarcircle{
	width:26px;
	height:26px;
	background:url(../images/sidebar_circle_26-26.png);
	background-position:left;
}
.cp_sidesectiontitle{

	position:absolute;
	float:left;
	margin-top:-24px;
	margin-left:30px;
	width:220px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:300;
	font-size:21px;
	color:#FFF;
}
.cp_sidesubtitle{
	position:relative;
	float:left;

	margin-left:30px;
	margin-bottom:5px;
	width:220px;
	text-align:left;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:300;
	font-size:13px;
	color:#FFF;
	text-transform:uppercase;
}
.cp_subscribefield{
	position:absolute;
	float:left;

	margin-left:30px;
	margin-top:30px;
	
}
.subscribefield{
	margin-left:30px;
	margin-top:10px;
	height:30px;
	width:206px;
	background:url(../images/subscribebox_back.png);
	font-size:13px;
	color:#000;
	
}
.cp_signup{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:30px;
	margin-bottom:20px;
}
.cp_search{
	position:absolute;
	float:left;

	margin-left:30px;
	margin-top:30px;
	
}
.searchfield{
	margin-left:30px;
	margin-top:10px;
	height:33px;
	width:186px;
	background:url(../images/searchbox_back.png);
	font-size:13px;
	color:#fff;
	
}
#cp_search_sm{
	margin-top:-30px;
	margin-bottom:30px;
	position:relative;
	float:right;
	height:27px;
	width:26px;
	
}
.sideicon{
	margin-top:10px;
	float:left;
	display:inline;
	height:28px;
	width:31px;
	margin-right:5px;
}
/*   footer  */
#cp_footer
{
  position: fixed;
  
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-image:url(../images/cp_footer_bg.png);
  background-repeat:repeat-x;

  vertical-align: top;
}

div#cp_article_text
{
  color: #fff;
  font-family: verdana;
  font-size: 12px;
  width: 560px;
  position: relative;
  left: 160px;
  top: 20px;
}

#cp_footer_content{
	width:850px;
	margin:15px auto;
	 font-family: Verdana, Arial, Georgia, Serif;
  font-size: 12px;
  color: #ffffff;
}
#cp_left_footer_content
{
  position: relative;
  float: left;
  width:455px;
  margin-right:60px;
  
}
#cp_mid_footer_content
{
  position: relative;

  float: left;
   width:145px;
  font-size: 10px;
  margin-right:60px;
  
}
#cp_right_footer_content
{
  position: relative;
  float: left;
  width:125px;
  font-size: 10px;
  
 
}