
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Culture Pulse Blog</title>
<link rel="stylesheet" href="/stylesheets/style_cp.css" type="text/css">
</head>

<body>

<div id="cp_linewrapper">
<div id="cp_logo">


    <div style="text-align:center; width:1216px; margin-left:auto; margin-right:auto;">
    <img id="Image-Maps_7201202090253555" src="/images/header_logo_culturepulse.png" usemap="#Image-Maps_7201202090253555" border="0" width="1216" height="177" alt="" />
    <map id="_Image-Maps_7201202090253555" name="Image-Maps_7201202090253555">
    <area shape="rect" coords="58,22,308,91" href="/" alt="" title=""    />
     </map>
   

    </div>
            


</div>
<div id="cp_areafill">

<div id="cp_maincontentarea">
	<div id="cp_mainarticle" style="background:#412226;">
		<div id="cp_mainarticleimage"><img id="cp_mainarticleimage" src="<%= @articles[0].article_photo.url if @articles[0].present? %>" border="0" alt="Brain Reserve Culture Pulse" /></div>
        <div id="cp_mainarticlecopy">
        	<div id="cp_mainarticledate"><%= @articles[0].updated_at.strftime('%m-%d-%y') if @articles[0].present? %></div>
            <div id="cp_mainarticletitle"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[0].name) if @articles[0].present?  %>" id="cp_mainarticletitle"><%= @articles[0].name if @articles[0].present? %> </a></div>
            <div class="cp_seemore"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[0].name) if @articles[0].present?  %>">SEE MORE</a></div>
            <div class="cp_excerpt">
            	<%= @articles[0].description if @articles[0].present? %>
            </div><!-- end cp_excerpt -->
        </div><!-- end cp_mainarticlecopy -->
        
	</div><!-- end cp_mainarticle -->
   <div class="cp_subarea">
    <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3c2c19">
        	<div id="cp_mainarticledate"><%= @articles[1].updated_at.strftime('%m-%d-%y') if @articles[1].present? %></div>
            <div id="cp_subarticletitle"><%= @articles[1].name if @articles[1].present? %></div>
            <div class="cp_seemore"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[1].name) if @articles[1].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt">	<%= @articles[1].description if @articles[1].present? %></div>
    </div><!-- end cp_subarticlearea -->
    
     <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#2e3740">
        	<div id="cp_mainarticledate"><%= @articles[2].updated_at.strftime('%m-%d-%y') if @articles[2].present? %></div>
            <div id="cp_subarticletitle"><%= @articles[2].name if @articles[2].present? %></div>
            <div class="cp_seemore"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[2].name) if @articles[2].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"> <%= @articles[2].description if @articles[2].present? %></div>
    </div><!-- end cp_subarticlearea -->
    
     <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3c2c19; <% if @articles[3].present? then %> background:url('<%= @articles[3].link_photo.url %>')<% end %>">
        	<div id="cp_subdate2"><%= @articles[3].updated_at.strftime('%m-%d-%y') if @articles[3].present? %></div>
            <div id="cp_subtitle2"><%= @articles[3].name if @articles[3].present? %></div>
            <div class="cp_subseemore2"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[3].name) if @articles[3].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"></div>
    </div><!-- end cp_subarticlearea -->
    
    <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#472c2d">
        	<div id="cp_mainarticledate"><%= @articles[4].updated_at.strftime('%m-%d-%y') if @articles[4].present? %></div>
            <div id="cp_subarticletitle"><%= @articles[4].name if @articles[4].present? %></div>
            <div class="cp_seemore"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[4].name) if @articles[4].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"><%= @articles[4].description if @articles[4].present? %></div>
    </div><!-- end cp_subarticlearea -->
    
      <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3c2c19; <% if @articles[5].present? then %> background:url('<%= @articles[5].link_photo.url %>')<% end %>">
        	<div id="cp_subdate2"><%= @articles[5].updated_at.strftime('%m-%d-%y') if @articles[5].present? %></div>
            <div id="cp_subtitle2"><%= @articles[5].name if @articles[5].present? %></div>
            <div class="cp_subseemore2"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[5].name) if @articles[5].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"></div>
    </div><!-- end cp_subarticlearea -->
    
      <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3e4428">
        	<div id="cp_mainarticledate"><%= @articles[6].updated_at.strftime('%m-%d-%y') if @articles[6].present? %></div>
            <div id="cp_subarticletitle"><%= @articles[6].name if @articles[6].present? %></div>
            <div class="cp_seemore"><a href="/culturepulse/article?name=<%= CGI.escape(@articles[6].name) if @articles[6].present?  %>">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"><%= @articles[6].description if @articles[6].present? %></div>
    </div><!-- end cp_subarticlearea -->
   </div><!-- end cp_subarea -->
</div><!-- end cp_maincontentarea -->


</div><!-- end cp_areafill -->




<div id="cp_sidebar">
	<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">SUBSCRIBE</div>
        <div class="cp_sidesubtitle">Get our daily newsletter</div>
        <div id="cp_subscribefield"><form>
<input type="text" name="field" class="subscribefield" value="" />
</form></div>
		<div class="cp_signup"><a href="#" target="_self"><img src="/images/sidebar_subscribe_signup_btn_103-27.jpg" border="0" /></a></div>
	</div><!-- end cp_sidesection -->
    
<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">ARCHIVES</div>
        <div class="cp_sidesubtitle"><br />OCTOBER 2011<br />
        SEPTEMBER 2011<br />AUGUST 2011<br />JULY 2011<br />JUNE 2011<br />MAY 2011<br />APRIL 2011<br />MARCH 2011<br />FEBRUARY 2011<br />JANUARY 2011</div>
        
	</div><!-- end cp_sidesection -->
    
<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">CATEGORIES</div>
        <div class="cp_sidesubtitle"><br />TRENDING<br />
        SCIENCE<br />CULTURE<br />TECHNOLOGY<br />INNOVATION</div>
        
	</div><!-- end cp_sidesection --> 
    
    
<div class="cp_sidesection">   
   <div id="cp_search"><form action="/culturepulse_search" method="get" target="_blank">
<input type="text" name="field" class="searchfield" value="" />
</form><div id="cp_search_sm"><a href="#"><img src="/images/sidebar_search_btn_27-26.jpg" border="0" /></a></div>  
</div><!-- end cp_search --> 

<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">RSS FEED</div>
       
        
	</div><!-- end cp_sidesection --> 
    
 <div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">FOLLOW US</div>
        <div class="cp_sidesubtitle">
        	<div class="sideicon"><a href="https://www.facebook.com/BrainReserve"><img src="/images/social_fb_icon.png" border="0" /></a></div>
        	<div class="sideicon"><a href="https://twitter.com/#!/PopcornBrains"><img src="/images/social_tw_icon.png" border="0" /></a></div>

        </div>
        
	</div><!-- end cp_sidesection --> 
    



    
</div><!-- end cp_sidebar -->

<div id="cp_footer">
  
  <div id="cp_footer_content">
          <div id="cp_left_footer_content">
            <h3>ABOUT US</h3><br/>
           The trends that Faith Popcorn’s BrainReserve has identified have animated everything from the caffeinated hegemony of Starbucks to the cultural squeeze on Wal-Mart to the explosion that is social media.  www.faithpopcorn.com	
            </div>
            
            
  	<div id="cp_mid_footer_content">
	<h3>CONTACT US</h3><br/>
	
	1 Dag Hammarskjold Plaza,<br/>
	New York, NY 10017<br/>
	hello@faithpopcorn.com<br/>
	+ 1 (212) 772 - 7787	
	</div>
    
    
	<div id="cp_right_footer_content">
            <h3>CONNECT</h3><br/>Keep in touch with us. 
	<a href="https://www.facebook.com/BrainReserve"><img src="/images/social_media/icon_fb_20-20.jpg" /></a> <a href="https://twitter.com/#!/PopcornBrains"><img src="/images/social_media/icon_twitter_20-20.jpg" /></a> 
	</div>
        
  </div><!-- end cp_footer_content -->
  
</div><!-- end cp_footer -->


</div>


</div>
</body>
</html>
