<div id="main" >
    <div id="main_left">
   <img src="<%=    @articles[0].link_photo.url if @articles[0].present? %>" id="home_image_left_1" class="left_image"/>
<img src="<%= @articles[1].link_photo.url if @articles[1].present? %>" id="home_image_left_2" class="left_image"/>
<img src="<%=  @articles[2].link_photo.url  if @articles[2].present? %>" id="home_image_left_3" class="left_image"/>
<img src="<%= @articles[3].link_photo.url if @articles[3].present?  %>" id="home_image_left_4" class="left_image"/>
    </div>
    <div id="main_right">
   
   <div id="link1" class="article_link"><a href="/pages/show_article?name=<%= CGI.escape(@articles[0].name) if @articles[0].present?  %>"><b><%= @articles[0].name if @articles[0].present?  %></b><br/>
    <%= if @articles[0].present? then @articles[0].description end %></a></div>
    
   <div id="link2" class="article_link"><a href="/pages/show_article?name=<%= CGI.escape(@articles[1].name) if @articles[1].present? %>"><b><%= @articles[1].name if @articles[1].present? %></b></br>
	<%= if @articles[1].present? then @articles[1].description end %></a></div>
   
   <div id="link3" class="article_link"><a href="/pages/show_article?name=<%= CGI.escape(@articles[2].name) if @articles[2].present? %>"><b><%= @articles[2].name if @articles[2].present? %></b></br>
		  <%= @articles[2].description if @articles[2].present? %></a>
		  </div>
		  <div id="link4" class="article_link"><a href="/pages/show_article?name=<%= CGI.escape(@articles[3].name) if @articles[3].present? %>"><b><%= @articles[3].name if @articles[3].present? %></b></br>
		  <%= @articles[3].description if @articles[3].present? %></a>
		  </div></br>
		    
     </div>		    
</div>

<div id="what_we_do_anchor" name="what_we_do"></div>

<div id="what_we_do"  >
    <div id="what_we_do_left">
   <%= @what_we_do_articles[0].content.html_safe if @what_we_do_articles[0].present? %>
     </div>
   <div id="what_we_do_right" align="right">
   	<table id="what_we_do_table">
	<tr>
		<td id="icon1"  class="animated_link"  src="#talentbank"><img src="/images/Icons_PNG/talentbank.png" /></td><td id="icon2" src="/pages/show_article?name=publications"><img src="/images/Icons_PNG/publications.png" /></td><td  id="icon3" src="#clientsandcasestudies"><img src="/images/Icons_PNG/clientsandcasestudies.png" /></td><td id="icon4" class="animated_link" src="#talentbank"><img src="/images/Icons_PNG/salons.png"  id="icon4"/></td>
	</tr>
	<tr>	<td id="icon5" src="/pages/show_article?name=popcornreport"><img src="/images/Icons_PNG/popcornreport.png" /></td><td id="icon6" src="/pages/show_article?name=futurevision"><img src="/images/Icons_PNG/futurevision.png" /></td><td  id="icon7" src="/pages/show_article?name=trendtrek"><img src="/images/Icons_PNG/trendtrek.png" /></td><td  id="icon8"><img src="/images/Icons_PNG/speeches.png" src="/pages/show_article?name=speeches"/></td>
	</tr>
	<tr>
		<td id="icon9" src="/pages/show_article?name=consumerinsights"><img src="/images/Icons_PNG/consumerinsights.png" /></td><td  id="icon10" src="/pages/show_article?name=brandpositioning"><img src="/images/Icons_PNG/brandpositioning.png" /></td><td  id="icon11" src="/pages/show_article?name=futurescapes"><img src="/images/Icons_PNG/futurescapes.png" /></td><td  id="icon12" src="/pages/show_article?name=inculture"><img src="/images/Icons_PNG/inculture.png" /></td>
	</tr>
	</table>
   </div>		    
</div>

<div id="about_us_anchor" name="about_us"></div>

<div id="about_us"  >
    <div id="about_us_left">
   <%= @about_us_articles[0].content.html_safe if @about_us_articles[0].present? %>
     </div>
   <div id="about_us_right" align="right">
   	 <img height="343" src="<%= @about_us_articles[0].article_photo.url if @about_us_articles[0].present? %>" >
   </div>	    
</div>

<div id="meet_the_team_anchor" name="meet_the_team"></div>

<div id="meet_the_team"  >
     <table  cellspacing="10px" >
	<tr>
	    <td><div id="meet_the_team_header">MEET THE TEAM</div></td><td href="/pages/show_article?name=<%= CGI.escape(@employees[0].name) if @employees[0].present?  %>&show_comments=false"      style="background-image: url(<%= @employees[0].link_photo.url if @employees[0].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[0].description if @employees[0].present? %></div></td><td  href="/pages/show_article?name=<%= CGI.escape(@employees[1].name) if @employees[1].present?  %>&show_comments=false" style="background-image: url(<%= @employees[1].link_photo.url if @employees[1].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[1].description if @employees[1].present? %></div></td><td href="/pages/show_article?name=<%= CGI.escape(@employees[2].name) if @employees[2].present?  %>&show_comments=false"  style="background-image: url(<%= @employees[2].link_photo.url if @employees[2].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[2].description if @employees[2].present? %></div></td><td id="mtt_empty_1"></td><td  id="mtt_empty_2"></td><td  href="/pages/show_article?name=<%= CGI.escape(@employees[3].name) if @employees[3].present?  %>&show_comments=false" style="background-image: url(<%= @employees[3].link_photo.url if @employees[3].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[3].description if @employees[3].present? %></div></td>
	</tr>
        <tr>
	    <td  id="mtt_empty_3"></td>  <td id="mtt_empty_4"></td>     <td  href="/pages/show_article?name=<%= CGI.escape(@employees[4].name) if @employees[4].present?  %>&show_comments=false"  style="background-image: url(<%= @employees[4].link_photo.url if @employees[4].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[4].description if @employees[4].present? %></div></td>    <td  href="/pages/show_article?name=<%= CGI.escape(@employees[5].name) if @employees[5].present?  %>&show_comments=false"  style="background-image: url(<%= @employees[5].link_photo.url if @employees[5].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[5].description if @employees[5].present? %></div></td>      <td  href="/pages/show_article?name=<%= CGI.escape(@employees[6].name) if @employees[6].present?  %>&show_comments=false" style="background-image: url(<%= @employees[6].link_photo.url if @employees[6].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[6].description if @employees[6].present? %></div></td>       <td  id="mtt_empty_5"></td>        <td  href="/pages/show_article?name=<%= CGI.escape(@employees[7].name) if @employees[7].present?  %>&show_comments=false"  style="background-image: url(<%= @employees[7].link_photo.url if @employees[7].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[7].description if @employees[7].present? %></div></td>
	</tr>
	<tr>
	    <td  href="/pages/show_article?name=<%= CGI.escape(@employees[8].name) if @employees[8].present?  %>&show_comments=false" style="background-image: url(<%= @employees[8].link_photo.url if @employees[8].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[8].description if @employees[8].present? %></div></td>    <td  href="/pages/show_article?name=<%= CGI.escape(@employees[9].name) if @employees[9].present?  %>&show_comments=false" style="background-image: url(<%= @employees[9].link_photo.url if @employees[9].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[9].description if @employees[9].present? %></div></td>     <td  id="mtt_empty_6"></td>     <td id="mtt_empty_7"></td>     <td  id="mtt_empty_8"></td>     <td href="/pages/show_article?name=<%= CGI.escape(@employees[10].name) if @employees[10].present?  %>&show_comments=false"  style="background-image: url(<%= @employees[10].link_photo.url if @employees[10].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[10].description if @employees[10].present? %></div></td>    <td href="/pages/show_article?name=<%= CGI.escape(@employees[11].name) if @employees[11].present?  %>&show_comments=false"   style="background-image: url(<%= @employees[11].link_photo.url if @employees[11].present? %>); background-repeat: no-repeat;"><div class="jobtitle_text"><%= @employees[11].description if @employees[11].present? %></div></td>
	</tr>
	  
      </table>  
			    
</div>


<div id="trendbank_anchor" name="trendbank"></div>

<div id="trendbank"  >
    <div id="trendbank_top">
      <div id="trendbank_text"><br/>WELCOME TO FAITH POPCORN'S TRENDBANK<br/><br/>Taken together, they profile the consumers you'll want to attract in the years to come. The trends will tell you how these consumers will be feeling, the impulses that will motivate them to buy one product over another, and the kids of stretegies, products, and services they'll accept -- or reject.
      </div> 
    </div>
   <div id="trendbank_bottom">
	<table border="0" id="trendbank_periodic_table_left" cellspacing="10px">
	  <tr>
	      <td id="trendbank_icon_1"  description="<%= CGI.escape(@trendbank_articles[0].description) if @trendbank_articles[0].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[0].name) if @trendbank_articles[0].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[0].name if  @trendbank_articles[0].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[0].description if  @trendbank_articles[0].present? %></div></td>
	      <td></td>
	  </tr>

	  <tr>
	      <td id="trendbank_icon_2" description="<%= CGI.escape(@trendbank_articles[1].description) if @trendbank_articles[1].present? %>"  destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[1].name) if @trendbank_articles[1].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[1].name if  @trendbank_articles[1].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[1].description if  @trendbank_articles[1].present? %></div></td>
	      <td></td>
	  </tr>
	  
	  <tr>
	      <td  id="trendbank_icon_3"  description="<%= CGI.escape(@trendbank_articles[2].description) if @trendbank_articles[2].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[2].name) if @trendbank_articles[2].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[2].name if  @trendbank_articles[2].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[2].description if  @trendbank_articles[2].present? %></div></td>
	      <td  id="trendbank_icon_4"  description="<%= CGI.escape(@trendbank_articles[3].description) if @trendbank_articles[3].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[3].name) if @trendbank_articles[3].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[3].name if  @trendbank_articles[3].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[3].description if  @trendbank_articles[3].present? %></div></td>
	  </tr>
	  
	  <tr>
	      <td id="trendbank_icon_5" description="<%= CGI.escape(@trendbank_articles[4].description) if @trendbank_articles[4].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[4].name) if @trendbank_articles[4].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[4].name if  @trendbank_articles[4].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[4].description if  @trendbank_articles[4].present? %></div></td>
	      <td  id="trendbank_icon_6" description="<%= CGI.escape(@trendbank_articles[5].description) if @trendbank_articles[5].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[5].name) if @trendbank_articles[5].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[5].name if  @trendbank_articles[5].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[5].description if  @trendbank_articles[5].present? %></div></td>
	  </tr>
	</table>
	<div id="trendbank_middle">
<img src="/images/section-trendbank/image_selected_lrg_360-276.jpg" id="trendbank_main_image" /><br/><div id="trendbank_name" style="float:left;height: 83px;width:83px;background-image: url('/images/section-trendbank/icon8.jpg');"><span style="position: relative; left: 7px; top: 11px;"></span></div><div id="trendbank_description"></div> 
	</div>
	<table border="0" id="trendbank_periodic_table_right" cellspacing="10">
	  <tr>
	      <td  id="trendbank_icon_7" description="<%= CGI.escape(@trendbank_articles[6].description) if @trendbank_articles[6].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[6].name) if @trendbank_articles[6].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[6].name if  @trendbank_articles[6].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[6].description if  @trendbank_articles[6].present? %></div></td>
	      <td  id="trendbank_icon_8"  description="<%= CGI.escape(@trendbank_articles[7].description) if @trendbank_articles[7].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[7].name) if @trendbank_articles[7].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[7].name if  @trendbank_articles[7].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[7].description if  @trendbank_articles[7].present? %></div></td>
	       <td  id="trendbank_icon_9"  description="<%= CGI.escape(@trendbank_articles[8].description) if @trendbank_articles[8].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[8].name) if @trendbank_articles[8].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[8].name if  @trendbank_articles[8].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[8].description if  @trendbank_articles[8].present? %></div></td>
	  </tr>

	  <tr>
	      <td  id="trendbank_icon_10" description="<%= CGI.escape(@trendbank_articles[9].description) if @trendbank_articles[9].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[9].name) if @trendbank_articles[9].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[9].name if  @trendbank_articles[9].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[9].description if  @trendbank_articles[9].present? %></div></td>
	      <td  id="trendbank_icon_11"  description="<%= CGI.escape(@trendbank_articles[10].description) if @trendbank_articles[10].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[10].name) if @trendbank_articles[10].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[10].name if  @trendbank_articles[10].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[10].description if  @trendbank_articles[10].present? %></div></td>
	       <td  id="trendbank_icon_12"  description="<%= CGI.escape(@trendbank_articles[11].description) if @trendbank_articles[11].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[11].name) if @trendbank_articles[11].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[11].name if  @trendbank_articles[11].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[11].description if  @trendbank_articles[11].present? %></div></td>
	  </tr>
	  
	  <tr>
	     <td  id="trendbank_icon_13"  description="<%= CGI.escape(@trendbank_articles[12].description) if @trendbank_articles[12].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[12].name) if @trendbank_articles[12].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[12].name if  @trendbank_articles[12].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[12].description if  @trendbank_articles[12].present? %></div></td>
	      <td  id="trendbank_icon_14"  description="<%= CGI.escape(@trendbank_articles[13].description) if @trendbank_articles[13].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[13].name) if @trendbank_articles[13].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[13].name if  @trendbank_articles[13].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[13].description if  @trendbank_articles[13].present? %></div></td>
	       <td  id="trendbank_icon_15"  description="<%= CGI.escape(@trendbank_articles[14].description) if @trendbank_articles[14].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[14].name) if @trendbank_articles[14].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[14].name if  @trendbank_articles[14].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[14].description if  @trendbank_articles[14].present? %></div></td>
	  </tr>
	  
	  <tr>
	      <td  id="trendbank_icon_16"  description="<%= CGI.escape(@trendbank_articles[15].description) if @trendbank_articles[15].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[15].name) if @trendbank_articles[15].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[15].name if  @trendbank_articles[15].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[15].description if  @trendbank_articles[15].present? %></div></td>
	      <td  id="trendbank_icon_17"  description="<%= CGI.escape(@trendbank_articles[16].description) if @trendbank_articles[16].present? %>" destination="/pages/show_article?name=<%= CGI.escape(@trendbank_articles[16].name) if @trendbank_articles[16].present? %>"><div class="trendbank_icon_title"><%= @trendbank_articles[16].name if  @trendbank_articles[16].present? %></div><br/><div class="trendbank_icon_subtitle"><%= @trendbank_articles[16].description if  @trendbank_articles[16].present? %></div></td>
	       <td></td>
	  </tr>
	</table>


   </div>	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>	    
</div>


<div id="clientsandcasestudies_anchor" name="clientsandcasestudies"></div>

<div id="clientsandcasestudies"  >
  <table  cellspacing="10px" id="clientsandcasestudies">
  <tr>
  <td><div id="clientsandcasestudies_header">CLIENTS AND CASE STUDIES</div></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[0].name) if @clients_and_case_studies_articles[0].present?  %>"><img src="<%= @clients_and_case_studies_articles[0].link_photo.url if @clients_and_case_studies_articles[0].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[1].name) if @clients_and_case_studies_articles[1].present?  %>"><img src="<%= @clients_and_case_studies_articles[1].link_photo.url if @clients_and_case_studies_articles[1].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[2].name) if @clients_and_case_studies_articles[2].present?  %>"><img src="<%= @clients_and_case_studies_articles[2].link_photo.url if @clients_and_case_studies_articles[2].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[3].name) if @clients_and_case_studies_articles[3].present?  %>"><img src="<%= @clients_and_case_studies_articles[3].link_photo.url if @clients_and_case_studies_articles[3].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[4].name) if @clients_and_case_studies_articles[4].present?  %>"><img src="<%= @clients_and_case_studies_articles[4].link_photo.url if @clients_and_case_studies_articles[4].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[5].name) if @clients_and_case_studies_articles[5].present?  %>"><img src="<%= @clients_and_case_studies_articles[5].link_photo.url if @clients_and_case_studies_articles[5].present? %>"/></a></td>
  </tr>
 <tr>
    <td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[6].name) if @clients_and_case_studies_articles[6].present?  %>"><img src="<%= @clients_and_case_studies_articles[6].link_photo.url if @clients_and_case_studies_articles[6].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[7].name) if @clients_and_case_studies_articles[7].present?  %>"></a><img src="<%= @clients_and_case_studies_articles[7].link_photo.url if @clients_and_case_studies_articles[7].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[8].name) if @clients_and_case_studies_articles[8].present?  %>"><img src="<%= @clients_and_case_studies_articles[8].link_photo.url if @clients_and_case_studies_articles[8].present? %>"/></a></td><td><a href=""><img src="<%= @clients_and_case_studies_articles[9].link_photo.url if @clients_and_case_studies_articles[9].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[10].name) if @clients_and_case_studies_articles[10].present?  %>"><img src="<%= @clients_and_case_studies_articles[10].link_photo.url if @clients_and_case_studies_articles[10].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[11].name) if @clients_and_case_studies_articles[11].present?  %>"><img src="<%= @clients_and_case_studies_articles[11].link_photo.url if @clients_and_case_studies_articles[11].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[12].name) if @clients_and_case_studies_articles[12].present?  %>"><img src="<%= @clients_and_case_studies_articles[12].link_photo.url if @clients_and_case_studies_articles[12].present? %>"/></a></td>
  </tr>
  <tr>
<td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[12].name) if @clients_and_case_studies_articles[12].present?  %>"><img src="<%= @clients_and_case_studies_articles[12].link_photo.url if @clients_and_case_studies_articles[13].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[14].name) if @clients_and_case_studies_articles[14].present?  %>"></a><img src="<%= @clients_and_case_studies_articles[14].link_photo.url if @clients_and_case_studies_articles[14].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[15].name) if @clients_and_case_studies_articles[15].present?  %>"><img src="<%= @clients_and_case_studies_articles[15].link_photo.url if @clients_and_case_studies_articles[15].present? %>"/></a></td><td><a href=""><img src="<%= @clients_and_case_studies_articles[16].link_photo.url if @clients_and_case_studies_articles[16].present? %>"/></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[17].name) if @clients_and_case_studies_articles[17].present?  %>"><img src="<%= @clients_and_case_studies_articles[17].link_photo.url if @clients_and_case_studies_articles[17].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[18].name) if @clients_and_case_studies_articles[18].present?  %>"><img src="<%= @clients_and_case_studies_articles[18].link_photo.url if @clients_and_case_studies_articles[18].present? %>"/></a></td><td><a href="/pages/show_article?name=<%= CGI.escape(@clients_and_case_studies_articles[19].name) if @clients_and_case_studies_articles[19].present?  %>"><img src="<%= @clients_and_case_studies_articles[19].link_photo.url if @clients_and_case_studies_articles[19].present? %>"/></a></td>
  </tr>
    
</table>  
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>	    
</div>

<div id="talentbank_anchor" name="talentbank"></div>

<div id="talentbank"  >
  <table >
  <tr ><td colspan="2"><div id="talentbank_description">Our TalentBank is an expert panel of over 10,000 visionaries worldwide with experts from every industry and cultural area from media and medics to marketers and academics. This brilliant group forms a proprietary asset which helps us envision future brand and category dynamics.  There is always room for more brilliance.  If you are interested in become a member, please <a href="mailto:hello@faithpopcorn.com" id="talentbank_apply">click here</a> to apply to our TalentBank.</div></td>
  </tr>
 <tr>
    <td id="talentbank_left">
	<div id="tb_left">
	    <div>
		<span id="talentbank_header">FEATURED TALENTBANK MEMBERS</span> 
	    </div><br/><br/>
	    <div> 
	      <div id="member1" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[0].name if @talentbank_articles[0].present? %></span></div>
	      <div id="member2" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[1].name if @talentbank_articles[1].present? %></span></div>
	      <div id="member3" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[2].name if @talentbank_articles[2].present? %></span></div>
	      <div id="member4" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[3].name if @talentbank_articles[3].present? %></span></div>
	      <div id="member5" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[4].name if @talentbank_articles[4].present? %></span></div>
	      <div id="member6" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[5].name if @talentbank_articles[5].present? %></span></div>
	      <div id="member7" class="talentbank_member"><span class="talentbank_member_name"><%= @talentbank_articles[6].name if @talentbank_articles[6].present? %></span></div>
	    </div>
	</div>
    </td>
    
    <td id="talentbank_right" height="327" right="500">
<div>
  <img id="bio_picture1" class="biopic" src="<%= @talentbank_articles[0].article_photo.url if @talentbank_articles[0].present? %>" width='421' height='327' />
  <img id="bio_picture2"  class="biopic" src="<%= @talentbank_articles[1].article_photo.url if @talentbank_articles[1].present? %>" width='421' height='327' style="display:none;" />
  <img id="bio_picture3" class="biopic" src="<%= @talentbank_articles[2].article_photo.url if @talentbank_articles[2].present? %>" width='421' height='327' style="display:none;" />
  <img id="bio_picture4" class="biopic" src="<%= @talentbank_articles[3].article_photo.url if @talentbank_articles[3].present? %>" width='421' height='327' style="display:none;" />
  <img id="bio_picture5" class="biopic" src="<%= @talentbank_articles[4].article_photo.url if @talentbank_articles[4].present? %>" width='421' height='327' style="display:none;" />
  <img id="bio_picture6" class="biopic" src="<%= @talentbank_articles[5].article_photo.url if @talentbank_articles[5].present? %>" width='421' height='327' style="display:none;" />
  <img id="bio_picture7" class="biopic" src="<%= @talentbank_articles[6].article_photo.url if @talentbank_articles[6].present? %>" width='421' height='327' style="display:none;" />
</div>
<div id="talentbank_right_right">
    <div id="talentbank_right_right_text"> 
	<span id="bio_text1" class="biopic" ><%= @talentbank_articles[0].content.html_safe if @talentbank_articles[0].present? %></span>
      <span id="bio_text2" class="biopic"  style="display:none;"><%= @talentbank_articles[1].content.html_safe if @talentbank_articles[1].present? %></span>
	<span id="bio_text3" class="biopic"  style="display:none;"><%= @talentbank_articles[2].content.html_safe if @talentbank_articles[2].present? %></span>
	<span id="bio_text4" class="biopic"  style="display:none;"><%= @talentbank_articles[3].content.html_safe if @talentbank_articles[3].present? %></span>
	<span id="bio_text5" class="biopic"  style="display:none;"><%= @talentbank_articles[4].content.html_safe if @talentbank_articles[4].present? %></span>
	<span id="bio_text6" class="biopic"  style="display:none;"><%= @talentbank_articles[5].content.html_safe if @talentbank_articles[5].present? %></span>
	<span id="bio_text7" class="biopic"  style="display:none;"><%= @talentbank_articles[6].content.html_safe if @talentbank_articles[6].present? %></span>
      
    </div>


</div>
</td>
 </tr>
    
</table>  
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>	    
</div>




<div id="bottomfiller"  >
  <table  cellspacing="10px">
  <tr>
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
 <tr>
    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr>
<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
    
</table>  
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>	    
</div>
