<h1>BrainReserve Site Administration</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>

<br />
<%= link_to 'Talent Bank Administration', talentbank_members_path %>
<%= link_to 'Articles Administration', articles_path %>
