<p id="notice"><%= notice %></p>
<h2><%= @page.name %></h2><br/>
<%= @page.description %><br/>
<br/>

<h3>Snippets</h3><br/>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.name %></td>
    <td><%= snippet.description %></td>
   
    <td><%= link_to 'Show', page_snippet_path(@page, snippet) %></td>
    <td><%= link_to 'Edit', edit_page_snippet_path(@page, snippet) %></td>
    <td><%= link_to 'Destroy', page_snippet_path(@page, snippet), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<h3>Assets</h3><br/>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assets.each do |asset| %>
  <tr>
    <td><%= asset.name %></td>
    <td><%= asset.description %></td>
    <td><%= link_to 'Show', page_asset_path(@page, asset) %></td>
    <td><%= link_to 'Edit', edit_page_asset_path(@page, asset) %></td>
    <td><%= link_to 'Destroy', page_asset_path(@page, asset), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br/>



<%= link_to 'Snippets', page_snippets_path(@page) %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
