<div id="main" >
  <div id="main_left">
    <h3><%= @article[0].name.to_s if @article[0].present? %></h3>
  </div>

  <div id="main_right">
  <center><h1> </h1> 
    <img src="<%= @article[0].article_photo.url if @article[0].present? %>" /> </center>
    
    <%= @article[0].content.html_safe if @article[0].present? %> 
   </div>

<% unless params[:show_comments] == "false" %>
  <div id="comment_form">
    <% if @article[0].present? and @new_comment.present? %>
	<%= form_for [@article[0], @new_comment] do |f| %>
	  <% if @new_comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this snippet from being saved:</h2>

	      <ul>
	      <% @new_comment.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>

	  <div class="field">
	    <%= f.label 'Comment' %><br />
	    <%= f.text_area :content %>
	  </div>
	  
	  <div class="actions">
	    <%= f.submit 'Submit Comment' %>
	  </div>
	<% end %>
    <% end %>
  </div>
<% end %>

   
</div>

