
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link rel="stylesheet" href="css/style_cp.css" type="text/css">
</head>

<body>

<div id="cp_linewrapper">
<div id="cp_logo"><img src="images/header_logo_culturepulse.png" border="0" alt="Brain Reserve Culture Pulse" /></div>
<div id="cp_areafill">

<div id="cp_maincontentarea">
	<div id="cp_mainarticle" style="background:#412226;">
		<div id="cp_mainarticleimage"><img src="images/main_image_558-374.jpg" border="0" alt="Brain Reserve Culture Pulse" /></div>
        <div id="cp_mainarticlecopy">
        	<div id="cp_mainarticledate">nov 02, 2011</div>
            <div id="cp_mainarticletitle">ENOUGH ABOUT AUTHENTICITY, GO GENUINE</div>
            <div class="cp_seemore"><a href="#" target="_self">SEE MORE</a></div>
            <div class="cp_excerpt">
            	Less than one percent.  That’s what separates the DNA of a human being from that of a chimpanzee.  The point of that?<br />
                 Seemingly small differences can determine who’s inside the cage, and who’s standing outside with a cell phone camera and... 
            </div><!-- end cp_excerpt -->
        </div><!-- end cp_mainarticlecopy -->
        
	</div><!-- end cp_mainarticle -->
   <div class="cp_subarea">
    <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3c2c19">
        	<div id="cp_mainarticledate">nov 02, 2011</div>
            <div id="cp_subarticletitle">WHAT'S POPPING, GO GENUINE</div>
            <div class="cp_seemore"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt">Humanity is at war with computers (well, at least on the set of Jeopardy). A future where computers think, speak, and move just like us has jumped from science...</div>
    </div><!-- end cp_subarticlearea -->
    
     <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#2e3740">
        	<div id="cp_mainarticledate">feb 05, 2011</div>
            <div id="cp_subarticletitle">I Learn Therefore I Am</div>
            <div class="cp_seemore"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"> When discussing the topic for our November newsletter one of our analysts suggested we write about being authentic. Our intrepid leader, Faith Popcorn,</div>
    </div><!-- end cp_subarticlearea -->
    
     <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:url(images/thumbnail_redrooster_243-241.jpg)">
        	<div id="cp_subdate2">may 03, 2011</div>
            <div id="cp_subtitle2">HARLEM TREND TREK</div>
            <div class="cp_subseemore2"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"></div>
    </div><!-- end cp_subarticlearea -->
    
    <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#472c2d">
        	<div id="cp_mainarticledate">JUNE 07, 2011</div>
            <div id="cp_subarticletitle">Hacking the Mind Body 
Connection</div>
            <div class="cp_seemore"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt">In a recent study conducted at Stanford University a group of one hundred 7th graders who were struggling in their math classes were divided into 2</div>
    </div><!-- end cp_subarticlearea -->
    
      <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:url(images/thumbnail_driving.jpg)">
        	<div id="cp_subdate2">aug 02, 2011</div>
            <div id="cp_subtitle2">DRIVING MISS DAISY</div>
            <div class="cp_subseemore2"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt"></div>
    </div><!-- end cp_subarticlearea -->
    
      <div class="cp_subarticlearea">
    	<div class="cp_subarticleimage" style="background:#3e4428">
        	<div id="cp_mainarticledate">sept 01, 2011</div>
            <div id="cp_subarticletitle">To Sleep, PerChance to Dream</div>
            <div class="cp_seemore"><a href="#" target="_self">SEE MORE</a></div>
            
        </div>
    <div class="cp_subexcerpt">Here at Faith Popcorn’s BrainReserve we are obsessed with apps. We are constantly trying out anything from games to communication tools to systems to...</div>
    </div><!-- end cp_subarticlearea -->
   </div><!-- end cp_subarea -->
</div><!-- end cp_maincontentarea -->


</div><!-- end cp_areafill -->




<div id="cp_sidebar">
	<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">SUBSCRIBE</div>
        <div class="cp_sidesubtitle">Get our daily newsletter</div>
        <div id="cp_subscribefield"><form>
<input type="text" name="field" class="subscribefield" value="Enter email address here" />
</form></div>
		<div class="cp_signup"><a href="#" target="_self"><img src="images/sidebar_subscribe_signup_btn_103-27.jpg" border="0" /></a></div>
	</div><!-- end cp_sidesection -->
    
<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">ARCHIVES</div>
        <div class="cp_sidesubtitle"><br />OCTOBER 2011<br />
        SEPTEMBER 2011<br />AUGUST 2011<br />JULY 2011<br />JUNE 2011<br />MAY 2011<br />APRIL 2011<br />MARCH 2011<br />FEBRUARY 2011<br />JANUARY 2011</div>
        
	</div><!-- end cp_sidesection -->
    
<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">CATEGORIES</div>
        <div class="cp_sidesubtitle"><br />TRENDING<br />
        SCIENCE<br />CULTURE<br />TECHNOLOGY<br />INNOVATION</div>
        
	</div><!-- end cp_sidesection --> 
    
    
<div class="cp_sidesection">   
   <div id="cp_search"><form>
<input type="text" name="field" class="searchfield" value=" SEARCH" />
</form><div id="cp_search_sm"><a href="#"><img src="images/sidebar_search_btn_27-26.jpg" border="0" /></a></div>  
</div><!-- end cp_search --> 

<div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">RSS FEED</div>
       
        
	</div><!-- end cp_sidesection --> 
    
 <div class="cp_sidesection">
		<div class="cp_sidebarcircle"></div>
        <div class="cp_sidesectiontitle">FOLLOW US</div>
        <div class="cp_sidesubtitle">
        	<div class="sideicon"><a href="#"><img src="images/social_fb_icon.png" border="0" /></a></div>
        	<div class="sideicon"><a href="#"><img src="images/social_tw_icon.png" border="0" /></a></div>
            <div class="sideicon"><a href="#"><img src="images/social_tb_icon.png" border="0" /></a></div>
            <div class="sideicon"><a href="#"><img src="images/social_yt_icon.png" border="0" /></a></div>
        
        </div>
        
	</div><!-- end cp_sidesection --> 
    



    
</div><!-- end cp_sidebar -->




</div>
</body>
</html>
