<h1>Talent Bank Memberships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Is Featured</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talentbank_members.each do |talentbank_member| %>
  <tr>
    <td><%= talentbank_member.name %></td>
    <td><%= talentbank_member.email %></td>
    <td><%= talentbank_member.is_featured.to_s %></td>
    <td><%= link_to 'Show', talentbank_member %></td>
    <td><%= link_to 'Edit', edit_talentbank_member_path(talentbank_member) %></td>
    <td><%= link_to 'Delete', talentbank_member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talentbank member', new_talentbank_member_path %>
