<p id="notice"><%= notice %></p>

Only the eight first members selected to be "featured" will be shown on the Talentbank Members Homepage

<p>
  <b>Name:</b>
  <%= @talentbank_member.name %>
</p>

<p>
  <b>Email:</b>
  <%= @talentbank_member.email %>
</p>

<p>
  <b>Biography:</b>
  <%= @talentbank_member.biography.html_safe %>
</p>
<%= image_tag @talentbank_member.profile_picture.url %>

<%= link_to 'Edit', edit_talentbank_member_path(@talentbank_member) %> |
<%= link_to 'Back', talentbank_members_path %>
