<%= form_for([@page, @asset], :html => {:multipart => true}) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label 'Asset file' %><br />
    <%= f.file_field :asset_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<!-- this hack allows us to get around the javascript-file system restriction to allow us to perform AJAX uploads successfully -->

<% end %>