<h1>Listing assets</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assets.each do |asset| %>
  <tr>
    <td><%= asset.name %></td>
    <td><%= asset.description %></td>
    <td><%= link_to 'Show', page_asset_path(@page, asset) %></td>
    <td><%= link_to 'Edit', edit_page_asset_path(@page, asset) %></td>
    <td><%= link_to 'Destroy', page_asset_path(@page, asset), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @assets %>

<%= link_to 'New Asset', new_page_asset_path(@page) %>
