<!DOCTYPE html>
<html>
<head>
  <title>Brainreserve</title>
  <%= stylesheet_link_tag 'admin.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="main_admin">
<%= yield %>
</div>
</body>
</html>
