<!DOCTYPE html>
<html>
<head>
  <title>Brainreserve</title>

  


<script src="/javascripts/starfade.js" language="javascript"></script>




 <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script src="/javascripts/jquery.anchorScroll.js"></script>
  <script src="/javascripts/jquery.animate.js"></script>
  <script src="/boostrap/js/boostrap.js"></script>

</script>
</head>
<body bgcolor="000">

<img src="/images/header/nav_lines_whatwedo_284_129.png" id="what_we_do_line"  />
<img src="/images/header/nav_lines_culturepulse_723_165.png" id="culture_pulse_blog_line" />
<img src="/images/header/nav_lines_trendbank_489_129.png" id="trend_bank_line"/>
<img src="/images/header/nav_lines_about_582_129.png" id="about_us_line" />
<img src="/images/header/nav_lines_whatwedo_highlighted_293_137.png" id="what_we_do_line_highlighted" />
<img src="/images/header/nav_circles_highlighted_116_34.png" id="culture_pulse_blog_line_highlighted" />
<img src="/images/section-trendbank/nav_trendbank_highlighted_494-134.png"  id="trend_bank_line_highlighted" />
<img src="/images/section-aboutus/nav_lines_587-136_fullhighlight.png" id="about_us_line_highlighted"  />



<img src="/images/FPBR_StarryBackground_1.png" id="star25" />
<img src="/images/FPBR_StarryBackground_2.png" id="star50" />
<img src="/images/FPBR_StarryBackground_3.png" id="star100" />


</head>
<body>
<div class="header">
<div id="headerbg"></div>
<img src="/images/header/nav_circles_highlighted_116_34.png" id="culture_pulse_blog_line_highlighted" />
<img src="/images/header/nav_lines_culturepulse_723_165.png" id="culture_pulse_blog_line" />

   <div id="header_content_wrapper">
    <a href="#main" class="slow_scroll"><img id="logo" src="/images/header/logo_178_41.png" /></a>

    <ul class="nav"  data-toggle="dropdown">
	    <li>
		    <a href="#what_we_do" class="slow_scroll" id="link_what_we_do">WHAT WE DO</a>
		    <ul id="whatlist">
			    <li><a href="#talentbank" class="header_link slow_scroll">TALENTBANK</a></li>

			    <li><a href="/pages/show_article?name=publications" class="header_link slow_scroll">PUBLICATIONS</a></li>

			    <li><a href="#clientsandcasestudies" class="header_link slow_scroll">CASE STUDIES</a></li>

			    <li><a href="/pages/show_article?name=salons" class="header_link">SALONS</a></li>

			    <li><a href="/pages/show_article?name=popcorn_report_live" class="header_link">POPCORN REPORT LIVE</a></li>

			    <li><a href="/pages/show_article?name=futurevision" class="header_link">FUTUREVISION</a></li>

			    <li><a href="/pages/show_article?name=trendtrek" class="header_link">TRENDTREK</a></li>

			    <li><a href="/pages/show_article?name=speeches" class="header_link">SPEECHES</a></li>

			    <li><a href="/pages/show_article?name=consumer_insight" class="header_link">CONSUMER INSIGHT</a></li>

			    <li><a href="/pages/show_article?name=brand_positioning" class="header_link">BRAND POSITIONING</a></li>

			    <li><a href="/pages/show_article?name=futurescape" class="header_link">FUTURESCAPE</a></li>

			    <li><a href="/pages/show_article?name=inculture" class="header_link">INCULTURE</a></li>
		    </ul>
	    </li>

	    <li>
		    <a href="/culturepulse"   id="link_culture_pulse">CULTURE PULSE</a>
		    
	    </li>
	    <li>
		    <a href="#trendbank"  class="slow_scroll" id="link_trend_bank">TREND BANK</a>
	    </li>
	    <li>
		    <a href="#about_us" class="slow_scroll" id="link_about_us">ABOUT US</a>
		    <ul id="whatlist">
			    <li><a href="#meet_the_team" class="header_link slow_scroll">MEET THE TEAM</a></li>
		      </ul>
	    </li>
	    <li>
		    <a href="mailto:hello@faithpopcorn.com" class="slow_scroll" id="link_contact">CONTACT</a>
	    </li>
    </ul><!--
      <div id="header_contact">
      <a href="mailto:hello@faithpopcorn.com">hello@faithpopcorn.com</a><br/>
      + 1 (212) 772 - 7787
      </div>
-->
   </div>
</div><!--
<img src="/images/header/nav_lines_whatwedo_284_129.png" id="what_we_do_line"  />

<img src="/images/header/nav_lines_trendbank_489_129.png" id="trend_bank_line"/>
<img src="/images/header/nav_lines_about_582_129.png" id="about_us_line" />
<img src="/images/header/nav_lines_whatwedo_highlighted_293_137.png" id="what_we_do_line_highlighted" />

<img src="/images/section-trendbank/nav_trendbank_highlighted_494-134.png"  id="trend_bank_line_highlighted" />
<img src="/images/section-aboutus/nav_lines_587-136_fullhighlight.png" id="about_us_line_highlighted"  />
-->



<%= yield %>


<div id="footer">
  <div id="footer_head">
 	 <div id="footer_head_text">FOLLOW US@popcornbrains <img src="/images/social_media/icon_twitter_bird_26-19.png" />  CassieBrains: A new infographic charts the main 			physiological reactions to stress that people</div>
  </div>
  <div id="footer_content">
  	<div id="left_footer_content">
	<h3>CONTACT US</h3>
	
	1 Dag Hammarskjold Plaza,<br/>
	New York, NY 10017<br/>
	hello@faithpopcorn.com<br/>
	+ 1 (212) 772 - 7787	
	</div>
	<div id="right_footer_content">
	<h3>CONNECT</h3><br/>Keep in touch with us. 
	<a href="https://www.facebook.com/BrainReserve"><img src="/images/social_media/icon_fb_20-20.jpg" /></a> <a href="https://twitter.com/#!/PopcornBrains"><img src="/images/social_media/icon_twitter_20-20.jpg" /></a> 
	</div>
        <div id="footer_footer">
    <a href="#what_we_do" class="slow_scroll" id="link_what_we_do">WHAT WE DO</a> &nbsp;&nbsp;&nbsp;<a href="/culturepulse">CULTURE PULSE BLOG</a> &nbsp;&nbsp;&nbsp;<a href="#about_us" class="slow_scroll" id="link_about_us">ABOUT US</a> &nbsp;&nbsp;&nbsp;<a href="mailto:hello@faithpopcorn.com">CONTACT</a>
  </div>
  </div>
  
</div>
</body>
</html>
